* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    height: 100vh;
    background: linear-gradient(to bottom right, 
    #def131, 
    #e6a10c);
}
.forma {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    background-color: rgb(59, 97, 10);
    padding: 45px;
    color: #f0d909;
}
label {
    font-size: 20px;
}
#slika {
    font-size: 20px;
    background-color: rgb(113, 170, 38);
}

input {
    display: block;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    outline: 0;
    border-width: 0 0 1px;
    padding-bottom: 10px;
    border-color: white;
    background-color: rgb(59, 97, 10);
    color: white;
    text-align: center;
}
#preview {
    margin-top: 20px;    
}
#ok {
    background-color: #f0d909;
    border-radius: 10px;
    color: rgb(59, 97, 10);
    margin-top: 15px;
    font-weight: bold;
    border: 0;
    padding: 4px 16px;
}





