* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    /* background: linear-gradient(to bottom right, #f0d909, #d46904); */
    background-color: rgb(248, 215, 66);
}

.forma {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding: 45px;
    color: rgb(255, 216, 44); 
}

label {
    font-size: 20px;
}

#slika {
    font-size: 20px;
    background-color: white;
}

input {
    display: block;
    min-height: 30px;
    margin: 0 auto;
    outline: 0;
    border-width: 0 0 1px;
    padding-bottom: 10px;
    border-color: rgb(248, 215, 66);
    background-color: white;
    color: rgb(47, 48, 66);
    text-align: center;
    font-size: 20px;
}

#preview {
    margin-top: 20px;    
}

#ok {
    background-color: rgb(241, 215, 99);
    border-radius: 10px;
    color: rgb(84, 109, 51);
    font-weight: bold;
    border: 0;
    padding: 4px 16px;
}

.okvir {
    display: grid;
    grid-template-rows: 100px auto 80px;
}

header, footer, main {
    grid-column: 1 / 4;
}

header {
    background: rgb(47, 48, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: rgb(248, 215, 66);
}

header a:hover {
    color: black;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    /* border: 1px solid rgb(47, 48, 61); */
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    background: white;
}
header ul li:hover a {
    color: rgb(47, 48, 66);
    text-decoration: none;
}
header ul li:hover {
    color: rgb(105, 151, 45);
    background: rgb(241, 215, 99);
}

header ul li:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

header ul li:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

header ul li + li {
    border-left: 0;
}

main {
    background: white;
    padding: 70px 20px;
    text-align: center;
}

main h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

main h3 {
    text-transform: capitalize;
}

main img {
    margin-bottom: 40px;
}

footer {
    background: rgb(47, 48, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 215, 99);
}

main h1{

font-size: 60px;

/* padding-bottom: 55px; */

}

.dugmad{
    display: flex;
}
.dugmad input {
    cursor: pointer;
    border: 1px solid #faa200;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}
img {
    max-width: 100%;
}
h3 {
    color: #fac000;
}
h2 {
    color: rgb(47, 48, 66);
}
h4 {
    color: #faa200;
}